@import 'defaultBootstrap';

form {
    text-align: center;
    div {
        margin: auto;
        min-width: 285px;
        display: inline-block
    }
    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        margin-right: 10px;
        border: 1px solid #000000;
        box-shadow: 2px 2px #888888;
        font-weight: 700;
        text-transform: uppercase;
    }
    button[type=submit] {
        box-shadow: 2px 2px #888888;
        padding: 10px 24px;
        border: 1px solid #000000;
    }  
}