.progressBar {
    margin: 20px auto;
    width: 80%;
    height: 25px;
    background-color: #EEEEEE;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 2px;
    div {
        width: 10%;
        height: 100%;
        background-color: #33a6cc;
    }
}